/* Enter your custom styles here */
.customTileContent {
  line-height: 0.1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.customOneByOne {
  width: 15rem;
  height: 15rem;
}

.customTileHeader {
  font-weight: bold;
  font-size: 1.5rem;
}

.customTileSubHeader {
  font-weight: bold;
  font-size: 1rem;
}

.customTileSubSubHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
}

.customTileSubSubHeader {
  font-size: 0.7rem;
}

.customTileExperienceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
}

.customTileTexRexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  height: 100%;
}

.customTileTexRexYearsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.customTileTexRexHeader {
  font-size: 0.9rem;
}

.customTileTexRexYearsHeader {
  margin: 1.2rem 0 0 0;
}

.customTileTexRexContent {
  font-size: 3rem;
  margin: 1.5rem 0 1.5rem 0;
}

.customTileAssignationContainer {
  display: block;
}

.customTileAssignationContentHeader {
  font-weight: bold;
}

.customTileAssignationTill {
  font-weight: normal;
  font-size: 0.8rem;
}
